.site-header {
  border-top: 5px solid $grey-color-dark;

  .header-main {
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;
  }

  @include media-query($on-palm) {
    border-bottom: none;
  }
}

.site-nav {
  display: flex;
  justify-content: space-between;
  line-height: $base-line-height * $base-font-size * 2.25;

  .icon {
    display: inline-block;
  }

  .site-title {
    @include relative-font-size(1.625);
    font-weight: 300;
    letter-spacing: -1px;

    a, a:visited {
      color: $grey-color-dark;
    }
  }

  .nav-menu {
    margin-left: auto;
  }

  .page-link {
    color: $text-color;
    vertical-align: middle;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    flex-direction: column;

    .site-title {
      text-align: center;
      margin: 0 (-$spacing-unit / 2);
    }

    .nav-menu {
      text-align: center;
      margin: 0;
    }

    .page-link {
      text-decoration: underline;
    }
  }
}

.header-banner {
  margin: 0 auto;
  padding: $spacing-unit/4 0;
  text-align: center;
  background-color: white;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(45% - (#{$spacing-unit} / 2));
  font-size: $small-font-size;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  min-height: 60vh;
  display: flex;
  justify-content: space-between;

  #main {
    flex-basis: 75%;
    flex-grow: 1;
  }

  #sidebar {
    margin-left: $spacing-unit;
    flex-basis: 25%;
    flex-shrink: 0;
  }

  @include media-query($on-palm) {
    flex-direction: column;

    #sidebar {
      margin-left: 0;
      // Hide the sidebar for browsers not supporting flexbox.
      display: none;
    }
  }
}

#sidebar {
  .sidebar-block {
    &:not(:last-child) {
      margin-bottom: $spacing-unit;
    }
  }
  .sidebar-header {
    text-align: center;
    font-size: 1.5rem;
  }

  .me {
    text-align: center;

    img {
      margin-bottom: $spacing-unit/2;

      @include media-query($on-palm) {
        max-width: 50%;
      }
    }

    p {
      text-align: left;
    }
  }

  .top {
    ul {
      list-style: none;
      margin: 0;

      li {
        margin-bottom: $spacing-unit/2;
      }
    }
  }
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > .post-list__post {
    margin-bottom: $spacing-unit;
  }

  .post-list__more {
    text-align: center;
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  hr {
    width: 50%;
    margin: 1rem auto;
    background-color: $grey-color-dark;
    border: none;
    height: 1px;
  }
}

.post-list__post, .post {
  position: relative;
}

.post-meta {
  color: $grey-color;
  position: relative;

  @media screen and (min-width: $content-width + 7rem) {
    position: absolute;
    left: -8rem;
    top: 1rem;
    text-align: right;
    width: 7rem;

    time {
      .month:after {
        content: "\a";
        white-space: pre;
      }
    }
  }
}

