.collapse {
  @extend %vertical-rhythm;

  background-color: #ffee58;

  .collapse__expand {

  }

  .collapse__content {
    display: none;
    border: 1px solid #424242;
    border-radius: 0.25rem;
    padding: 10px;
    margin-top: 10px;

    &.show {
      display: block;
    }
  }

  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin: 0.4rem;
    display: inline-block;
  }
}
