.search-box {
  padding-left: $spacing-unit / 2;
  margin-left: $spacing-unit / 2;
  border-left: 1px solid $grey-color-light;

  input {
    background: none;
    border: none;
    color: $text-color;
    font-size: 1rem;
    max-width: 8rem;
    vertical-align: middle;

    &:focus {
      outline: none;
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
    }
  }

  .icon {
    line-height: 18px;
    //vertical-align: middle;
  }
}

@include media-query($on-palm) {
  .search-box {
    display: none;
  }
}
