/* Search results container */
.algolia__initial-content {
  display: block;
}

.algolia__initial-content--hidden {
  display: none;
}

.algolia__search-content {
  display: none;
}

.algolia__search-content--active {
  display: block;
}

.algolia__result {
  .post-list__content {
    font-size: 0.9rem;
  }

  .post-link .algolia__result-highlight {
    background-color: rgba(172, 65, 66, 0.2);
  }

  .post-list__content .algolia__result-highlight {
    font-weight: bold;
  }
}
