---
layout: default
---

<div class="home">

    <h1 class="page-heading">Главная</h1>

    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <div class="post-meta"><p>{{ post.date | date: site.date_format }}</p></div>

            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            <!--<div>{{ post.excerpt | remove: '<h1>' | remove: '</h1>' }}</div>-->
            <div>{{ post.content }}</div>
        </li>
        {% endfor %}
    </ul>
</div>
