---
layout: default
---

<div id="main">
    <div class="algolia__initial-content js-algolia__initial-content">{{ content }}</div>

    <div class="algolia__search-content js-algolia__search-content">
        <h1 class="page-heading">Поиск</h1>
        <div class="post-list algolia__results"></div>
    </div>
</div>
<aside id="sidebar">
    <div class="sidebar-block me">
        <h6 class="sidebar-header">About</h6>
        <div>
            <img src="{{ '/assets/images/static/me.jpg' | relative_url }}" title="Me">
        </div>
    </div>
    <div class="sidebar-block top">
        <h6 class="sidebar-header">Must read</h6>
        <ul>
            {% for post in site.categories.top %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</aside>
