---
layout: default
---

<div id="main">
    <div class="algolia__initial-content js-algolia__initial-content">{{ content }}</div>

    <div class="algolia__search-content js-algolia__search-content">
        <h1 class="page-heading">Поиск</h1>
        <div class="post-list algolia__results"></div>
    </div>
</div>
<aside id="sidebar">
    <div class="sidebar-block me">
        <h6 class="sidebar-header">Кто я?</h6>
        <img src="{{ '/assets/images/static/me.jpg' | relative_url }}" title="Me">
        <p>
            Привет, я Лара. И этот блог - второй дом для моих
            <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" rel="nofollow me">текстов</a>
            из
            инстаграма...
            <a href="{{ '/about' | relative_url }}">еще ></a>
        </p>
    </div>
    <div class="sidebar-block top">
        <h6 class="sidebar-header">Must read</h6>
        <ul>
            {% for post in site.categories.top %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="sidebar-block">
        <h6 class="sidebar-header">Instagram</h6>
        <!-- LightWidget WIDGET -->
        <script src="//lightwidget.com/widgets/lightwidget.js" async></script>
        <iframe src="//lightwidget.com/widgets/5d96298611ab57b9a18fd790d1e31f6d.html"
                scrolling="no"
                allowtransparency="true"
                class="lightwidget-widget"
                style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
</aside>
